Actividades/unidad7/ejercicio7.xml

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT relacion (persona)+>
<!ELEMENT persona (nombre, email*,parentesco?)>
<!ATTLIST persona carnet ID #REQUIRED>
<!ATTLIST persona sexo (hombre|mujer) #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco EMPTY>
<!ATTLIST parentesco tutor-legal IDREFS #IMPLIED hermano-a IDREFS #IMPLIED>
