unidad7/RengelJesus_ej4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="gestion_turistica">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hoteles" type="xs:string"/>
        <xs:element name="habitaciones" type="xs:integer" />
        <xs:element name="clientes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="reservas" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
